obj
*.o
*.zip
external
tests
!tests/
tests/*
!tests/dangling_x_after_transposition.xml
!tests/forward_gap_secondary_voice.xml
!tests/hidden_extra_voice_rest_spine.xml
!tests/run_tests.sh
!tests/zzz_hidden_measure_rest_collision.xml
bin
.DS_Store
/build/
